<!DOCTYPE html>
<html>

<head>
    <title>LINKED</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/main.css" rel="stylesheet">
</head>

<body>